button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

